<template>
  <div>
    <div class="form-group">
      <BaseInput
        label="Имя"
        name="name"
        type="text"
        placeholder="Жасулан"
        v-model="userData.username"
      ></BaseInput>
    </div>
    <div class="form-group">
      <BaseInput
        label="Номер телефона"
        name="phone"
        type="text"
        placeholder="+7 ("
        v-model="userData.phone"
      ></BaseInput>
    </div>
    <div class="form-group">
      <BaseInput
        label="E-mail"
        name="email"
        type="email"
        placeholder="info@mail.com"
        v-model="userData.email"
      ></BaseInput>
    </div>
    <div class="form-group">
      <BaseInput label="Адрес" name="address" class="address" v-model="userData.address_id" type="text"></BaseInput>
    </div>
    <div class="form-group">
      <v-select label="address" name="address" type="text" v-model="userData.address_id" :reduce="addressArr => +addressArr.id" :options="addressArr"></v-select>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from "vuex";

export default {
  data() {
    return {
      address: '',
      addressArr: [],
    }
  },
  computed: {
    ...mapState({
      userData: "userData",
    }),
  },
  methods: {
    
  },
  mounted() {
    axios.get('/api/delivery-address')
    .then(res => {
      this.address = res.data
      this.address.data.forEach(element => {
        this.addressArr.push({
            address: element.address, 
            id: element.id
          })
      });
    })
  },
};
</script>

<style lang="scss">
@import "vue-select/src/scss/vue-select.scss";
.vs__dropdown-toggle {
  display: flex;
  background: #f8f8f8;
  border-radius: 7px;
  border: none;
  width: 100%;
  height: 60px;
  padding-left: 1rem;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #08050b;
  padding: 15px;
}
.vs__clear {
  display: none;
}
.form-group {
  margin-bottom: 1.5rem;
}
a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #de293a;
  text-decoration: none;
}
.address {
  input {
    position: absolute;
    opacity: 0;
  }
}
</style>
