.contacts {
  background-image: url("/images/faq.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 80%;
  h1 {
    @include text(Roboto, 48px, 1, 600, #08050b);
    margin-bottom: 0;
  }
  #map {
    height: 478px;
  }
  .info {
    background: #f8f8f8;
    border-radius: 7px;
    padding: 16px 60px 14px 60px;
    height: 100%;

    &.phone {
      a:before {
        content: "\f3cf";
      }
    }
    &.mail {
      a:before {
        content: "\f0e0";
      }
    }
    &.address {
      .address-mark {
        @include flex(column, nowrap, flex-start, space-between);
        position: relative;
      }
      .address-mark:before {
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        right: 110%;
        font-weight: 300;
        top: 0;
        color: #de293a;
        font-size: 30px;
        content: "\f3c5";
      }
    }
    a {
      @include text(Roboto, 16px, 1.2, 600, #08050b);
      text-decoration: none;
      position: relative;
      &:before {
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        right: 110%;
        font-weight: 300;
        top: 0;
        color: #de293a;
        font-size: 30px;
      }
    }
    p {
      @include text(Roboto, 14px, 20px, 600, #b7b6bb);
      margin-bottom: 0;
    }
  }
  h2 {
    @include text(Roboto, 30px, 1, 600, #08050b);
    margin-bottom: 0;
  }
  #accordion {
    border-top: 1px solid #eeedf1;
    .card {
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid #eeedf1;
      .card-header {
        @include flex(row, nowrap, center, space-between);
        background-color: unset;
        padding: 1rem 0.75rem;
        border-bottom: 0;
        span {
          @include text(Roboto, 16px, 1, 600, #08050b);
        }
        i {
          color: #de293a;
          font-size: 22px;
        }
      }
    }
  }
  .ask-btn {
    background: #de293a;
    border-radius: 7px;
    max-width: 268px;
    width: 100%;
    height: 60px;
    @include text(Roboto, 12px, 24px, 600, #fff);
    text-transform: uppercase;
    border: none;
    outline: none;
  }
}
.stock {
  background-image: url("/images/stock.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 85%;
  h1 {
    @include text(Roboto, 48px, 1, 600, #08050b);
    margin-bottom: 3rem;
  }
  h2 {
    @include text(Roboto, 30px, 1, 600, #08050b);
    margin-bottom: 2.5rem;
  }
  h3 {
    @include text(Roboto, 18px, 1, 600, #08050b);
    margin-bottom: 1.5rem;
  }
  p {
    @include text(Roboto, 16px, 26px, 400, #08050b);
    margin-bottom: 1.5rem;
    a {
      color: #de293a;
      text-decoration: none;
    }
  }
  .banner {
    border-radius: 10px;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 2.5rem;
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      @include text(Roboto, 16px, 40px, 600, #08050b);
      &::before {
        content: "\2022";
        color: #fcda06;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        font-size: 24px;
        line-height: 0;
      }
    }
  }
}
.static-page {
  p {
    @include text(Roboto, 14px, 20px, 600, #b7b6bb);
  }
  h1 {
    @include text(Roboto, 48px, 1, 600, #08050b);
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .contacts .info {
    &.phone {
      a:before {
        content: "";
      }
    }
    &.mail {
      a:before {
        content: "";
      }
    }
    &.address {
      a:before {
        content: "";
      }
    }
  }
}
#modalcall {
  .btn {
    background: #DE293A;
    border-radius: 10px;
    color: #fff;
  }
  .modal-header, .modal-footer {
    border: none!important;
    padding-left: 50px;
    padding-right: 50px;
  }
  .modal-footer {
    margin-bottom: 20px;
  }
  .modal-body_block {
    margin-bottom: 40px;
    h3{
      font-family: Roboto;
      font-size: 14px;
      line-height: 131.77%;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #373737;
    }
    input, textarea {
      padding: 10px;
      width: 100%;
      border: 1px solid #797979;
      box-sizing: border-box;
      border-radius: 10px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .modal-header {
    .modal-title {
      padding-top: 40px;
      margin: 0 auto;
      text-transform: uppercase;
      font-family: Roboto;
      font-weight: 700;
    }
    .close {
      margin: 0!important;
      padding: 0!important;
      cursor: pointer;
    }
  }

  .modal-body {
    padding-left: 50px;
    padding-right: 50px;
  }
}