<template>
  <div id="edit">
    <h1>Редактировать профиль</h1>
    <form @submit="profileUpdate" class="my-5">
      <div class="form-group">
        <BaseInput
          label="Имя"
          name="username"
          type="text"
          placeholder="Жасулан"
          v-model="userData.username"
        ></BaseInput>
      </div>
      <div class="form-group">
        <BaseInput
          label="Номер телефона"
          name="phone"
          type="tel"
          placeholder="+7 ("
          v-mask="'+7 (###) ### ####'"
          disabled="disabled"
          v-model="userData.phone"
        ></BaseInput>
      </div>
      <div class="form-group">
        <BaseInput
          label="E-mail"
          name="email"
          type="email"
          disabled="disabled"
          placeholder="info@mail.com"
          v-model="userData.email"
        ></BaseInput>
      </div>
      <div class="form-group">
        <label class="birthdate">Дата рождения</label>
        <v-date-picker class="datepicker" v-model="userData.birthday" />
      </div>
      <div class="form-group">
        <BaseInput label="Старый пароль" name="password" type="password"></BaseInput>
      </div>
      <div class="form-group">
        <BaseInput label="Новый пароль" name="new_password" type="password"></BaseInput>
      </div>
      <div class="form-group">
        <BaseButton type="submit">Сохранить данные</BaseButton>
      </div>
    </form>
  </div>
</template>

<script>
import DatePicker from "v-calendar/lib/components/date-picker.umd";
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      userData: "userData"
    })
  },
  methods: {
    profileUpdate(e) {
      e.preventDefault();
      let data = new FormData(e.target);
      for (const key in this.userData) {
        if (key == "birthday") {
          if (this.userData[key] != null) {
            const dateFormatted = `${this.userData[key].getYear() + 1900}-${
              this.userData[key].getMonth() < 10 ? "0" : ""
            }${this.userData[key].getMonth() + 1}-${this.userData[
              key
            ].getDate()}`;
            data.append(key, dateFormatted);
          }
        }
      }
      this.$store.dispatch("profileUpdate", data);
    }
  },
  components: {
    "v-date-picker": DatePicker
  }
};
</script>

<style lang="scss">
h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 1;
  color: #08050b;
}
.form-group {
  margin-bottom: 1.5rem;
}
.birthdate {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #08050b;
  display: block;
  margin: 0;
  text-indent: 1rem;
}
.datepicker input {
  background: #f8f8f8;
  border-radius: 7px;
  border: none;
  width: 100%;
  height: 60px;
  padding-left: 1rem;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #08050b;
}

button {
  border: none;
  width: 100%;
  height: 60px;
  background: #de293a;
  border-radius: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
}
</style>
