<template>
  <div class="container py-4" style="max-height: 600px; overflow-y: scroll;">
    <div class="row">
      <h1>История заказов</h1>
    </div>
    <div class="row mt-5" v-if="orders.length">
      <div class="col-4">
        <h2>№ заказа</h2>
      </div>
      <div class="col-4">
        <h2>Дата</h2>
      </div>
      <div class="col-4">
        <h2>Сумма</h2>
      </div>
    </div>
    <div class="row my-5" v-else>
      <div class="col-12">
        <h2>У вас нет заказов!</h2>
      </div>
    </div>
    <template v-if="orders.length">
      <b-card
        no-body
        class="my-3"
        v-for="(order, index) in orders"
        :key="index"
      >
        <b-card-header header-tag="div" role="tab" class="p-0">
          <div v-b-toggle="`accordion-${index}`" class="row py-3">
            <div class="col-4" style="pointer-events: none">
              <p>{{ index + 1 }}</p>
            </div>
            <div class="col-4" style="pointer-events: none">
              <p>
                {{order.created_at.slice(0, 10)}}
                <!-- {{
                  new Date(order.created_at).getDate() +
                    "." +
                    (new Date(order.created_at).getMonth() < 10 ? 0 : "") +
                    (new Date(order.created_at).getMonth() + 1) +
                    "." +
                    (new Date(order.created_at).getYear() + 1900)
                }} -->
              </p>
            </div>
            <div class="col-4" style="pointer-events: none">
              <p>{{ order.sum.toLocaleString() }} ₸</p>
            </div>
          </div>
        </b-card-header>
        <b-collapse :id="`accordion-${index}`" role="tabpanel">
          <b-card-body>
            <div
              class="row order-item py-3"
              v-for="(product, indx) in orders[index].products"
              :key="indx"
            >
              <div class="col-lg-3 col-md-5 col-sm-3 col-6 border-right">
                <img :src="`${product.image}`" />
              </div>
              <div class="col-lg-3 col-md-7 col-sm-4 col-10 border-right">
                <p class="name">
                  {{ product.type }}, {{ product.name }} -
                  {{ product.attribute }}
                </p>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-3 col-5 border-right">
                <p class="price">{{ product.price.toLocaleString() }} ₸</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-2 col-4">
                <p class="quantity">{{ product.count }} шт</p>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </template>
  </div>
</template>

<script>
import {
  BCollapse,
  BCard,
  BButton,
  BCardHeader,
  BCardBody,
  BNavbarToggle,
} from "bootstrap-vue";
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      orders: "orders",
    }),
  },
  components: {
    "b-collapse": BCollapse,
    "b-card": BCard,
    "b-button": BButton,
    "b-card-header": BCardHeader,
    "b-card-body": BCardBody,
  },
  created() {
    if (!this.orders.length) {
      this.$store.dispatch("fetchOrders");
    }
  },
};
</script>

<style lang="scss" scoped>
.order-item {
  max-width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
}
h2 {
  font-size: 18px;
  font-family: "Roboto";
  color: #25252d;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  margin: 0;
}
p {
  font-size: 16px;
  font-family: "Roboto";
  color: #25252d;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  margin: 0;
}
.card {
  border-width: 1px;
  border-color: #ebebeb;
  border-style: solid;
}
.card-header {
  cursor: pointer;
}
.card-body {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
@media (max-width: 576px) {
  p {
    font-size: 15px;
  }
}
</style>
