<template>
  <div class="delivery py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Оформление заказа</h1>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-5 col-md-8">
          <div class="d-flex mb-5">
            <BaseButton
              v-for="(name, tab) in tabs"
              :key="tab"
              :tab="tab"
              :class="['tab-button', { active: currentTab === tab }]"
              v-on:click="currentTab = tab"
            >{{ name }}</BaseButton>
          </div>
          <keep-alive>
            <component v-bind:is="currentTabComponent"></component>
          </keep-alive>
          <div class="form-group">
            <router-link :to="{ name: 'orderPayment' }">Перейти к оплате</router-link>
          </div>
        </div>
        <div class="offset-lg-7"></div>
      </div>
    </div>
  </div>
</template>

<script>
import DeliveryTab from "../components/tabs/delivery/DeliveryTab.vue";
import PickupTab from "../components/tabs/delivery/PickupTab.vue";
import { mapState } from "vuex";

export default {
  components: {
    "tab-delivery": DeliveryTab,
    "tab-pickup": PickupTab
  },
  data() {
    return {
      currentTab: "delivery",
      tabs: { delivery: "Доставка", pickup: "Самовывоз" }
    };
  },
  computed: {
    currentTabComponent: function() {
      if (this.currentTab == "delivery") {
        this.$store.commit("SET_TYPEDELIVERY", 1);
      } else {
        this.$store.commit("SET_TYPEDELIVERY", 2);
      }
      return "tab-" + this.currentTab;
    },
  }
};
</script>

<style lang="scss" scoped>
.delivery {
  background-image: url("/images/profile.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% 50%;
  h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #08050b;
  }
  .tab-button {
    width: 100%;
    font-family: Roboto;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #08050b;
    border: none;
    border-bottom: 1px solid #eeedf1;
    transition: all 0.2s linear;
    background: #fff;
    height: 50px;
    outline: none;
    &.active {
      border-bottom: 4px solid #fcda06;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border: none;
    width: 100%;
    height: 60px;
    background: #de293a;
    border-radius: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    max-width: 290px;
    text-decoration: none;
  }
}

@media (max-width: 992px) {
  .delivery {
    background-image: none;
  }
}
</style>
