<template>
  <div class="profile py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Профиль</h1>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-lg-5 col-md-4">
          <ul>
            <li>
              <router-link :to="{ name: 'history' }"
                >История заказов</router-link
              >
            </li>
            <li>
              <router-link :to="{ name: 'delivery' }"
                >Адреса доставки</router-link
              >
            </li>
            <li>
              <router-link :to="{ name: 'payment' }"
                >Карты и оплата</router-link
              >
            </li>
            <li>
              <router-link :to="{ name: 'edit' }"
                >Редактировать профиль</router-link
              >
            </li>
            <li>
              <a href="/" @click="logout">Выйти</a>
            </li>
          </ul>
        </div>
        <div class="offset-lg-1 offset-md-1"></div>
        <div class="col-lg-6 col-md-7">
          <keep-alive>
            <router-view></router-view>
          </keep-alive>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    logout(e) {
      e.preventDefault();
      this.$store.dispatch("logout");
    },
  },
};
</script>

<style lang="scss" scoped>
.profile {
  background-image: url("/images/profile.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 15% 100%;
  min-height: 70vw;
  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #08050b;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      position: relative;
      border-bottom: 1px solid #eeedf1;
      &:after {
        content: "\f054";
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        position: absolute;
        top: 50%;
        right: 1%;
        line-height: 0;
        color: #b7b6bb;
        font-size: 18px;
      }
    }
  }
  a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 65px;
    color: #08050b;
    text-decoration: none;
    display: block;
  }
}
@media (max-width: 992px) {
  .profile {
    background-image: none;
  }
}
</style>
