<template>
  <div class="catalog py-5">
    <div class="container" v-for="category in products" :key="category.id">
      <div class="row mb-5">
        <div v-for="product in category.products" :key="product.id" class="col-lg-3 col-sm-6 col-md-4">
          <div class="product-card">
            <img :src="product.image" />
            <h2 class="product-title">{{ product.name }}</h2>
            <p class="product-description">{{ product.content }}</p>
            <span class="product-price">{{ product.price }} ₸</span>
            <BaseButton
              v-if="productsInCart.findIndex((id) => product.id == id) == -1"
              :data-id="product.id"
              @click="show($event)"
              type="button"
              class="add-to-basket-btn"
            >Купить</BaseButton>
            <BaseButton
              v-else
              :data-id="product.id"
              @click="show($event)"
              type="button"
              class="add-to-basket-btn"
            >В корзине</BaseButton>
          </div>
        </div>
      </div>
    </div>
    <product-card-component></product-card-component>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: {
    category_id: {
      type: [Number, String],
      required: true
    }
  },
  computed: {
    ...mapState({
      products: "products",
      productsInCart: "productsInCart"
    })
  },
  methods: {
    show(e) {
      this.$modal.show("product-card-component", {
        id: e.target.getAttribute("data-id")
      });
    }
  },
  created() {
    this.$store.dispatch("fetchProducts", this.category_id);
  }
};
</script>

<style lang="scss" scoped>
.catalog {
  .product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 20px rgba(218, 217, 220, 0.5);
    padding: 0.75rem 1rem;
    max-height: calc(100% - 50px - 1rem);
    overflow: hidden;
    transition: all 0.3s ease;
    height: 100%;
    img {
      object-fit: contain;
      margin-bottom: 0.75rem;
      width: 100%;
      height: 190px;
    }
    .product-title {
      font-family: Roboto;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #08050b;
    }
    .product-description {
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #b7b6bb;
      flex: 1;
      min-height: 70px;
    }
    .product-price {
      font-family: Roboto;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #08050b;
      margin-bottom: 1rem;
      text-align: right;
    }
    .add-to-basket-btn {
      background: #de293a;
      border: 2px solid #de293a;
      box-sizing: border-box;
      border-radius: 7px;
      width: 100%;
      font-family: Roboto;
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase;
      color: #08050b;
      height: 50px;
      outline: none;
      opacity: 0;
      transform: translateX(50px);
      position: relative;
      z-index: 1;
      overflow: hidden;
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
      }
      &:before {
        content: "\f290";
        font-family: "Font Awesome 5 Pro";
        font-size: 22px;
        font-weight: 300;
        color: #fff;
        left: 5%;
      }
      &:after {
        height: 300%;
        bottom: auto;
        background: #ffffff;
        -webkit-transition: height 0.5s ease-in-out;
        transition: height 0.5s ease-in-out;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        border-radius: 0 0 50% 50%/0 0 75% 75%;
      }
      &:hover {
        color: #fff;
      }
      &:hover:after {
        height: 0;
      }
    }
    &:hover {
      max-height: 100%;
      z-index: 1;
      transition: all 0.3s ease;
      .add-to-basket-btn {
        opacity: 1;
        transform: translateX(0);
        transition: all 0.4s ease 0.3s;
      }
    }
  }
}
@media (max-width: 576px) {
  .main h1 {
    font-size: 22px;
    max-width: 115px;
  }
  .main .go-over {
    max-width: 215px;
  }
}
</style>
