<template>
  <modal
    name="product-card-component"
    :draggable="false"
    :adaptive="true"
    @before-open="beforeOpen"
    @before-close="beforeClose"
    width="754"
    height="auto"
  >
    <i class="fal fa-times" @click="$modal.hide('product-card-component')"></i>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-4">
          <img :src="product.image" />
        </div>
        <div class="col-lg-7 col-md-7 col-sm-8">
          <h1>{{ product.name }}</h1>
          <p>{{ product.content }}</p>
          <div class="border-bottom my-4"></div>
          <form @submit.prevent>
            <div
              class="form-group"
              v-if="
                product.details
                  ? product.details.length
                    ? product.details[selectedType].attributes
                      ? product.details[selectedType].attributes.length
                      : product.details[selectedType].attributes
                    : product.details.length
                  : false
              "
            >
              <div v-for="(detail, index) in product.details" :key="index">
                <input
                  :value="index"
                  :id="`type_` + detail.id"
                  type="radio"
                  v-model="selectedType"
                  @change="selectedAttr = 0"
                />
                <label :for="`type_` + detail.id">{{ detail.name }}</label>
              </div>
            </div>
            <div class="form-group" v-else>
              <div v-for="(detail, index) in product.details" :key="index">
                <input :value="index" :id="`type_` + detail.id" type="radio" v-model="selectedType" />
                <label :for="`type_` + detail.id">{{ detail.name }}</label>
              </div>
            </div>
            <div
              class="form-group"
              v-if="
                product.details
                  ? product.details.length
                    ? product.details[selectedType].attributes
                      ? product.details[selectedType].attributes.length
                      : product.details[selectedType].attributes
                    : product.details.length
                  : false
              "
            >
              <div
                v-for="(attr, index) in product.details[selectedType]
                  .attributes"
                :key="index"
              >
                <input :value="index" :id="`attr_` + attr.id" type="radio" v-model="selectedAttr" />
                <label :for="`attr_` + attr.id">{{ attr.name }}</label>
              </div>
            </div>
            <div
              class="form-group border-0"
              v-if="
                product.details
                  ? product.details.length
                    ? product.details[selectedType].attributes
                      ? product.details[selectedType].attributes.length
                      : product.details[selectedType].attributes
                    : product.details.length
                  : false
              "
            >
              <p class="price">
                {{
                product.details[selectedType].attributes[selectedAttr].price
                }}
                ₸
              </p>
            </div>
            <div
              class="form-group border-0"
              v-else-if="product.details ? product.details.length : false"
            >
              <p class="price">
                {{ product.details[selectedType].price }}
                ₸
              </p>
            </div>
            <BaseButton
              v-if="
                product.details
                  ? product.details.length
                    ? product.details[selectedType].attributes
                      ? product.details[selectedType].attributes.length
                      : product.details[selectedType].attributes
                    : product.details.length
                  : false
              "
              type="button"
              class="add-to-cart-btn"
              @click="
                addToCart(
                  $event,
                  product.details[selectedType].attributes[selectedAttr].id
                )
              "
            >Купить</BaseButton>
            <BaseButton
              v-else-if="product.details ? product.details.length : false"
              type="button"
              class="add-to-cart-btn"
              @click="addToCart($event, product.details[selectedType].id)"
            >Купить</BaseButton>
          </form>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import NProgress from "nprogress";
import Swal from "sweetalert2";
import { ProductService } from "../services/service.js";
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  onOpen: toast => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  }
});
export default {
  data() {
    return {
      product: {},
      selectedType: 0,
      selectedAttr: 0
    };
  },
  methods: {
    beforeOpen(e) {
      ProductService.getProduct(e.params.id).then(response => {
        this.product = response.data.data;
      });
    },
    beforeClose() {
      this.selectedType = 0;
      this.selectedAttr = 0;
    },
    addToCart(e, attr_id) {
      NProgress.start();
      e.preventDefault();
      let attributesInCart = [];
      if (this.$localStorage.get("attributesInCart")) {
        attributesInCart = this.$localStorage.get("attributesInCart");
      }
      let attribute_index = attributesInCart.findIndex(id => attr_id == id);
      if (attribute_index == -1) {
        Toast.fire({
          icon: "success",
          title: "Товар добавлен в корзину!"
        });
        attributesInCart.push(attr_id);
      } else {
        Toast.fire({
          icon: "warning",
          title: "Товар уже в корзине!"
        });
      }
      this.$localStorage.set("attributesInCart", attributesInCart);
      this.$store.commit("SET_PRODUCTS_IN_BASKET", {
        products: attributesInCart,
        count: attributesInCart.length,
        total_price: null
      });
      NProgress.done();
    }
  },
  computed: {}
};
</script>

<style lang="scss">
.vm--overlay {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 20px rgba(218, 217, 220, 0.5);
}
.vm--modal {
  overflow: unset;
  padding: 40px 50px 20px 40px;
  border-radius: 7px;
  .form-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background: #ffffff;
    border: 2px solid #f4f4f4;
    border-radius: 7px;
    div {
      position: relative;
      width: 100%;
      height: 50px;
    }
    label {
      margin: 0;
      position: relative;
      width: 100%;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #08050b;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transition: all 0.2s linear;
      cursor: pointer;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
    input {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      &:checked + label {
        background: #f4f4f4;
        border-radius: 4px;
      }
    }
  }
  img {
    object-fit: contain;
    width: 100%;
    max-height: 250px;
  }
  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #08050b;
    margin-bottom: 1.2rem;
  }
  .fa-times {
    position: absolute;
    right: 0;
    bottom: 100%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }
  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #b7b6bb;
    margin-bottom: 0;
  }
  .price {
    font-family: Roboto;
    font-style: 600;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #08050b;
  }
  .add-to-cart-btn {
    background: #de293a;
    border: 2px solid #de293a;
    box-sizing: border-box;
    border-radius: 7px;
    width: 100%;
    font-family: Roboto;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    height: 50px;
    outline: none;
    position: relative;
    z-index: 1;
    max-width: 224px;
    &:before {
      position: absolute;
      content: "\f290";
      font-family: "Font Awesome 5 Pro";
      font-size: 22px;
      font-weight: 300;
      color: #fff;
      left: 5%;
    }
  }
}
.vm--container {
  z-index: 1000000000;
}
@media (max-width: 576px) {
  .vm--modal {
    padding: 10px;
    max-width: 320px;
    margin: auto;
    max-height: 75%;
    overflow-y: scroll;
  }
  .vm--modal img {
    max-width: 220px;
    margin: auto;
    display: block;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .catalog .product-card .product-description {
    min-height: auto;
  }
  .vm--modal {
    margin: auto;
  }
}
</style>
