<template>
  <div class="restore py-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12">
          <h1>Восстановление пароля</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="d-flex">
            <div
              class="custom-control custom-radio"
              v-for="(name, tab) in tabs"
              :key="tab"
              :tab="tab"
            >
              <input
                :id="tab"
                name="option"
                class="custom-control-input"
                type="radio"
                v-model="currentTab"
                :value="tab"
              />
              <label class="custom-control-label" :for="tab">{{ name }}</label>
            </div>
          </div>
          <form class="my-5" @submit.prevent="restore">
            <div class="form-group">
              <keep-alive>
                <component :val="val" v-bind:is="currentTabComponent"></component>
              </keep-alive>
              <BaseButton type="submit">Продолжить</BaseButton>
            </div>
          </form>
        </div>
        <div class="offset-lg-7"></div>
      </div>
    </div>
  </div>
</template>

<script>
import Email from "./tabs/restore/Email.vue";
import Phone from "./tabs/restore/Phone.vue";
import { AuthService } from "../services/service";
import Swal from "sweetalert2";
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 1500,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  },
});
export default {
  components: {
    "tab-email": Email,
    "tab-phone": Phone,
  },
  data() {
    return {
      val: "",
      currentTab: "phone",
      tabs: { phone: "Номер телефона", email: "E-mail" },
    };
  },
  methods: {
    restore(e) {
      let login = new FormData(e.target);
      AuthService.restorePassword(login)
        .then((response) => {
          Swal.fire({
            icon: "success",
            text:
              'На ваш e-mail, указанный при регистрации, было отправлено письмо с инструкцией по восстановлению пароля. В случае отсутствия письма, рекомендуем проверить папку "Спам".',
          });
        })
        .catch((error) => {
          if (
            error.status == 403 ||
            error.status == 400 ||
            error.status == 422
          ) {
            Toast.fire({
              icon: "error",
              title: error.data.data.message,
            });
          }
        });
    },
  },
  computed: {
    currentTabComponent: function () {
      return "tab-" + this.currentTab;
    },
  },
};
</script>

<style lang="scss" scoped>
@keyframes shakeError {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0.375rem);
  }
  30% {
    transform: translateX(-0.375rem);
  }
  45% {
    transform: translateX(0.375rem);
  }
  60% {
    transform: translateX(-0.375rem);
  }
  75% {
    transform: translateX(0.375rem);
  }
  90% {
    transform: translateX(-0.375rem);
  }
  100% {
    transform: translateX(0);
  }
}
.restore {
  background-image: url("/images/profile.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% 50%;
  h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #08050b;
  }
  button {
    border: none;
    width: 100%;
    height: 60px;
    background: #de293a;
    border-radius: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    &:disabled {
      background-color: #f8f8f8;
      color: #08050b;
    }
  }
  .custom-control-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #08050b;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #fff;
    border-color: #de293a;
  }
  .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("/images/ellipse.svg");
    background-position: 25% 25%;
  }
  .custom-control-label::after {
    width: 2rem;
    height: 2rem;
    top: 0;
    left: -2rem;
  }
  .custom-control {
    padding-left: 2rem;
  }
  .custom-control.custom-radio:last-child {
    margin-left: 3rem;
  }
  .custom-control-label::before {
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    left: -2rem;
  }
  .error {
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #de293a;
    margin: 0;
    position: absolute;
    top: 100%;
  }
  .form-group--error {
    animation-name: shakeError;
    animation-fill-mode: forwards;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    position: relative;
  }
}
</style>
