<template>
  <div class="stocks py-5" id="stocks">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Акции</h1>
        </div>
      </div>
      <div class="row">
        <div v-for="stock in stocksPerPAge" :key="stock.id" class="col-lg-12 border-bottom">
          <a :href="'/stocks/' + stock.id">
            <div class="row py-5">
              <div class="col-lg-4">
                <img :src="stock.image" :title="stock.title" />
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-center">
                <h2 class="stock-title">{{ stock.title }}</h2>
                <p class="stock-description">{{ stock.name }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5 justify-content-center" v-if="totalCount > perPage">
        <ul class="pagination">
          <li
            v-for="page in pages"
            :key="page"
            :class="[currentPage == page - 1 ? 'active' : '', 'page']"
            @click="showPage(page - 1)"
          >
            <a href="#stocks">{{ page }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      perPage: 6,
      currentPage: 0
    };
  },
  computed: {
    ...mapState({
      stocks: "stocks"
    }),
    totalCount() {
      if (this.stocks.length) {
        return this.stocks.length;
      }
    },
    pages() {
      if (this.stocks.length) {
        return Math.ceil(this.totalCount / this.perPage);
      }
    },
    stocksPerPAge() {
      const start = this.currentPage * this.perPage,
        end = start + this.perPage;
      if (this.stocks.length) {
        return this.stocks.slice(start, end);
      }
    }
  },
  methods: {
    showPage(page) {
      return (this.currentPage = page);
    }
  },
  created() {
    this.$store.dispatch("fetchStocks");
  }
};
</script>

<style lang="scss" scoped>
.stocks {
  h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 48px;
    color: #08050b;
    margin-bottom: 0;
  }
  img {
    object-fit: cover;
    max-width: 343px;
    height: 153px;
    width: 100%;
  }
  a {
    display: contents;
    color: unset;
    text-decoration: none;
  }
  .stock-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #08050b;
  }
  .stock-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #08050b;
    margin-bottom: 0;
  }
  .pagination {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(218, 217, 220, 0.4);
    border-radius: 7px;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    .page {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: #08050b;
      a {
        display: block;
        padding: 19px 39.5px 17px 37px;
      }
      &.active {
        color: #de293a;
      }
    }
  }
}
</style>
